.imagenessecund {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;

}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    
}

.exp {
    text-align: center;
    font-size: 20px;
}

.principallogos {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.galerias {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.textodetail {
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navegacion {
    display: flex;
    gap: 30px;
    color: white;
}

.navegacion li {
    list-style: none;
}

.navegacion a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.logo {
    width: 100px;
}

.elementos {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    list-style: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: rgb(28, 63, 158);
}

.main-gallery {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    border: 5px solid rgb(255, 255, 0);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(0, 9, 32);
}

body{
    margin: 0;
    padding: 0;
}

main {
    color: rgb(255, 255, 255);
}

.referencias-lista{
    font-size: 20px;
    line-height: 2.5;
    justify-items: left;
    justify-items: center;
}

.referencias-lista a {
    color: rgb(0, 183, 255);
    text-decoration: none;
}

.main-content {
    padding-left: 400px;
    padding-right: 400px;
    font-size: 20px;
    text-align: justify; 
}

.imagenlenguaje {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(28, 63, 158);
    border: 5px solid rgb(255, 255, 0);
    border-radius: 30px;
}

.intro-ref {
    font-size: 20px;
    margin-bottom: 20px;
    justify-items: center;
    font-weight: 600;
}

.sec-content {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;
    padding-top: 40px;
    font-size: 25px;
    text-align: justify;
    background-color: rgb(0, 9, 32);
    border: 5px solid rgb(255, 255, 0);
    border-radius: 30px;
}